<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<body>
    <%- include('nav') %>

    <section>
        <div class="calorie-about">
            <div class="columns">
                <div class="column description">
                    <div class="blurred-image" style="background-image: url(assets/images/salads.jpg);"></div>
                    <div class="box">
                        <h1>Lose weight easily!</h1>
                        <p>
                            CalorieBuddy is a very conveinient app that will help you and guide you throught the whole
                            process of not just losing weight, but keeping your body in shape with the food you eat
                            and the activities you do throughout a day.
                        </p>
                        <a class="search-btn" href="/search-food">Start Your Journey</a>
                    </div>
                </div>
                <div class="column featured-image" style="background-image: url(assets/images/salads.jpg);">
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="container is-medium has-pv-med">
            <h2 class="centered">Message from the creator of CalorieBuddy</h2>
            <div class="columns ceo-info">
                <div class="column">
                    <img class="profile-pic" src="assets/images/trainer.png">
                </div>
                <div class="column ceo-message">
                    <h3>Your body is a temple! </h3>
                    <p>
                        "Healthy food choices will help our bodies to serve us better. Being careful what we eat and
                        being health concious can get us a long way,
                        so join us on this journey for a new, healthy and better life."
                    </p>
                    <p class="ceo-name">-Mario</p>
                </div>
            </div>
        </div>
        <div class="container is-medium has-pv-large">
            <h2 class="centered">Healthy Recipes & Workouts</h2>
            <div class="columns has-pv-med">
                <div class="column recipes">
                    <a href="/list-food">
                        <div class="breakfast">
                            <img src="assets/images/oatmeal.jpg">
                        </div>
                        <div class="recipe-info">
                            <h3>Healthy and tasty breakfast under 300 calories</h3>
                            <p>Recipe</p>
                        </div>
                    </a>
                </div>
                <div class="column recipes">
                    <a href="/list-food">
                        <div class="lunch">
                            <img src="assets/images/lunch.jpg">
                        </div>
                        <div class="recipe-info">
                            <h3>Recipes with chicken and many types of salads</h3>
                            <p>Recipe</p>
                        </div>
                    </a>
                </div>
                <div class="column recipes">
                    <a href="/list-food">
                        <div class="workout">
                            <img src="assets/images/workout.jpg">
                        </div>
                        <div class="recipe-info">
                            <h3>Workouts for beginners and fit people</h3>
                            <p>Workouts</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <%- include('footer') %>

</body>

</html>