<footer class="footer has-pv-med">
    <div class="container is-large">
        <div class="columns">
            <div class="column is-half">
                <div class="calbud-about">
                    <h3>CalorieBuddy</h3>
                    <p>CalorieBuddy can change your life if you stick to the strict rules for your diet, exercise and
                        you new way of living. We are here to assist you with all the tools we provide. All the
                        instructions are very simple and interactive. We
                        hope you enjoy CalorieBuddy as much as we enjoyed making it.
                    </p>
                </div>
            </div>
            <div class="column is-four">
                <h3>Quick links</h3>
                <ul class="quick-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/add-food">Add Food</a></li>
                    <li><a href="/search-food">Search Food</a></li>
                    <li><a href="/list-food">List Food</a></li>
                    <li><a href="/update-food">Update Food</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <div class="column is-four">
                <h3>Social Media</h3>
                <div class="social">
                    <div class="media">
                        <div class="facebook">
                            <img src="assets/images/facebook.svg">
                        </div>
                        <div class="twitter">
                            <img src="assets/images/twitter.svg">
                        </div>
                        <div class="instagram">
                            <img src="assets/images/instagram.svg">
                        </div>
                        <div class="youtube">
                            <img src="assets/images/youtube.svg">
                        </div>
                    </div>
                    <div class="download">

                        <div class="android">
                            <img class="download-app" src="assets/images/google-play.svg">
                            <p>Download on the <br> <span class="android-text">Play Store</span></p>
                        </div>

                        <div class="ios">
                            <img class="download-app" src="assets/images/app-store.svg">
                            <p>Download on the <br> <span class="ios-text">App Store</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>