<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<body>

    <%- include('nav') %>

    <section>
        <div class="container is-medium columns">
            <div class="column welcome has-pv-large">
                <h1 class="title">CalorieBuddy is your way to the best health!</h1>
                <p class="descr">Search food and their nutrient value for your diet.</p>
                <img class="diet-pic" src="assets/images/plan.svg">
                <img class="diet-pic" src="assets/images/diet.svg">
                <img class="diet-pic" src="assets/images/balanced-diet.svg">
                <a href="/search-food" class="search-button has-blue has-white-text">START SEARCHING</a>
            </div>
            <div class="column">
                <img class="healthy-pic" src="assets/images/healthy.png">
            </div>
        </div>
    </section>

    <section>
        <div class="about has-pv-large">
            <div class="container is-medium centered">
                <h2 class="about-title">Add, update and calculate the food nutrients</h2>
                <p class="descr">Learn what your food contains. CalorieBuddy will provide you with most of the nutrient
                    values and you can also adjust them as you like.
                </p>
                <a href="/search-food" class="search-button">GET STARTED FOR BETTER LIFE</a>
            </div>
        </div>
        <div class="tools has-pv-large">
            <div class="container is medium centered">
                <h2 class="tools-title">Healthy life requires a lot of effort!</h2>
                <p class="descr"> CalorieBuddy will provide you with the necessary tools to your goal!</p>
                <div class="columns has-pv-large centered">

                    <div class="column tool log">
                        <h3>Logging food</h3>
                        <p>Variety of food and drink will help your track what you take in your body.</p>
                        <img src="assets/images/banana.svg">
                    </div>
                    <div class="column tool diary">
                        <h3>Update food</h3>
                        <p>You can update any food's nutrition so it fits your lifestyle.</p>
                        <img src="assets/images/diary.svg">
                    </div>
                    <div class="column tool exercise">
                        <h3>Exercises</h3>
                        <p>Exercise is also very important to keep your body and your mind healthy.</p>
                        <img src="assets/images/excercise.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('footer') %>

</body>

</html>